/*登录页样式*/
/*导航条*/
.top_nav{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:5.5rem;
    font-family: "苹方 中等", sans-serif;
    font-size: 20px;
    background-color: #46b0d5;
    color:#fff;
    text-align: center;
    line-height: 5.5rem;
}
.return{
    position:absolute;
    left:2rem;
    top:1.375rem;
    display:block;
    width:2.75rem;
    height:2.75rem;
    background:url("../HTML/images/back_arrow.png") no-repeat left top;
}
[data-dpr="2"].top_nav{height: 11rem;font-size:40px;line-height: 11rem;}
[data-dpr="2"].return{left:4rem;top:2.75rem;width:5.5rem;height:5.5rem;background:url("../HTML/images/back_arrow@2x.png") no-repeat left top;}
[data-dpr="3"].top_nav{height: 16.5rem;font-size:60px;line-height: 16.5rem;}
[data-dpr="3"].return{left:6rem;top:4.125rem;width:8.25rem;height:8.25rem;background:url("../HTML/images/back_arrow@3x.png") no-repeat left top;}
/*登录*/
/*图标*/
.login{width:100%;padding:11rem 0;}
.app_login_img{
    display:block;
    margin:0 auto 5.5rem;
}
[data-dpr="2"].login{padding:22rem 0;}
[data-dpr="3"].login{padding:33rem 0;}
/*用户名、密码*/
.useId_box,.password_box{padding-left:6.25rem;border-bottom: 1px solid #46b0d5;}
.useId,.password{
    width:100%;
    border-radius:0;
    -moz-border-radius: 0;/*firefox*/
    -webkit-border-radius: 0;/*Safari and Chrome*/
    -ms-border-radius: 0;/*IE*/
    -o-border-radius: 0;/*Opera*/
    border: none;
    height:6.25rem;
    font-family: "SF UI Text",sans-serif;
    font-size:16px;
    line-height:3rem;
}
.useId_box{background:#fff url("../HTML/images/account.png") no-repeat 2rem center;}
.password_box{background:#fff url("../HTML/images/password.png") no-repeat 2rem center;}
.password_forget{
    font-family:"苹方 常规", sans-serif;
    font-size:12px;
    line-height:2.5rem;
    padding:1rem 1rem;
}
.checkbox{width:1.5rem;height:1.5rem;margin:0.25rem 0.25rem 0.25rem 0;}
.password_forgot{text-align:right;float:right;display:block;color:#fb2a2f;}
[data-dpr="2"].useId_box{padding-left:12.5rem;border-bottom: 2px solid #46b0d5;
    background:url("../HTML/images/account@2x.png") no-repeat 4rem center;
}
[data-dpr="2"].useId{
    height:12.5rem;line-height:6rem;
    font-family: "SF UI Display",sans-serif;font-size:32px;
}
[data-dpr="2"].password_box{
    border-bottom: 2px solid #46b0d5;padding-left:12.5rem;
    background:#fff url("../HTML/images/password@2x.png") no-repeat 4rem center;}
[data-dpr="2"].password{
    height:12.5rem;line-height:6rem;
    font-family: "SF UI Display",sans-serif;font-size:32px;

}
[data-dpr="3"].useId_box{padding-left:18.75rem;border-bottom: 3px solid #46b0d5;
    background:#fff url("../HTML/images/account@3x.png") no-repeat 6rem center;
}
[data-dpr="3"].useId{
    height:18.75rem;line-height:9rem;
    font-family: "SF UI Display",sans-serif;font-size:48px;
}
[data-dpr="3"].password_box{
    padding-left:18.75rem;border-bottom: 3px solid #46b0d5;
    background:#fff url("../HTML/images/password@3x.png") no-repeat 6rem center;
}
[data-dpr="3"].password{
    height:18.75rem;line-height:9rem;
    font-family: "SF UI Display",sans-serif;font-size:48px;

}
[data-dpr="2"].password_forget{font-family:"苹方 常规", sans-serif;font-size:24px;padding:2rem 2rem;line-height:5rem;}
[data-dpr="2"].checkbox{width:3rem;height:3rem;margin:0.5rem 0.5rem 0.5rem 0;}
[data-dpr="3"].password_forget{font-family:"苹方 常规", sans-serif;font-size:36px;padding:3rem 3rem;line-height:7.5rem;}
[data-dpr="3"].checkbox{width:4.5rem;height:4.5rem;margin:0.75rem 0.75rem 0.75rem 0;}
/*btn*/
.login_submit{
    border:0 none;
    outline: none;
    background-color:#46b0d5;
    -webkit-appearance: none;/*Safari and Chrome*/
    border-radius:0;
    -moz-border-radius: 0;/*firefox*/
    -webkit-border-radius: 0;/*Safari and Chrome*/
    -ms-border-radius: 0;/*IE*/
    -o-border-radius: 0;/*Opera*/
    height:6.25rem;width:100%;
    color:#fff;
    cursor: pointer;
    font-family:"苹方 粗体", sans-serif;font-size:18px;line-height:6.25rem;text-align:center;
}
.register{text-align:center;font-size:14px;margin-top:1rem;}
.register a{color:#46b0d5;}
[data-dpr="2"].login_submit{height:12.5rem;font-size:36px;line-height:12.5rem;}
[data-dpr="2"].register{font-size:28px;margin-top:2rem;}
[data-dpr="3"].login_submit{height:18.75rem;font-size:54px;line-height:18.75rem;}
[data-dpr="3"].register{font-size:42px;margin-top:3rem;}
