/*登录、注册样式*/
/*登录页图标*/
.login{width:100%;overflow:hidden;padding:5.5rem 0;}
.app_login_img{
    display:block;
    margin:0 auto 5.5rem;
}
[data-dpr="2"].login{padding:11rem 0;}
[data-dpr="3"].login{padding:16.5rem 0;}
/*用户名、密码*/
.useId,.password{
    width:100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #46b0d5;
    height:6.25rem;
    padding-left:6.25rem;
    font-family: "SF UI Text",sans-serif;
    font-size:14px;
    line-height:6.25rem;
}
.useId{background:#fff url("../HTML/images/account.png") no-repeat 2rem center;}
.password{background:#fff url("../HTML/images/password.png") no-repeat 2rem center;}
.password_forget{
    font-family:"苹方 常规", sans-serif;
    font-size:12px;
    line-height:2.5rem;
    padding:1rem 1rem;
}
.checkbox{width:1.5rem;height:1.5rem;margin:0.25rem 1rem 0.25rem 0;}
.password_forgot{text-align:right;float:right;display:block;color:#fb2a2f;}
[data-dpr="2"].useId{
    height:12.5rem;padding-left:12.5rem;line-height:12.5rem;border-bottom: 2px solid #46b0d5;
    font-family: "SF UI Display",sans-serif;font-size:28px;
    background:url("../HTML/images/account@2x.png") no-repeat 4rem center;
}
[data-dpr="2"].password{
    height:12.5rem;padding-left:12.5rem;line-height:12.5rem;border-bottom: 2px solid #46b0d5;
    font-family: "SF UI Display",sans-serif;font-size:28px;
    background:#fff url("../HTML/images/password@2x.png") no-repeat 4rem center;
}
[data-dpr="3"].useId{
    height:18.75rem;padding-left:18.75rem;line-height:18.75rem;border-bottom: 3px solid #46b0d5;
    font-family: "SF UI Display",sans-serif;font-size:42px;
    background:#fff url("../HTML/images/account@3x.png") no-repeat 6rem center;
}
[data-dpr="3"].password{
    height:18.75rem;padding-left:18.75rem;line-height:18.75rem;border-bottom: 3px solid #46b0d5;
    font-family: "SF UI Display",sans-serif;font-size:42px;
    background:#fff url("../HTML/images/password@3x.png") no-repeat 6rem center;
}
[data-dpr="2"].password_forget{font-family:"苹方 常规", sans-serif;font-size:24px;padding:2rem 2rem;line-height:5rem;}
[data-dpr="2"].checkbox{width:3rem;height:3rem;margin:0.5rem 2rem 0.5rem 0;}
[data-dpr="3"].password_forget{font-family:"苹方 常规", sans-serif;font-size:36px;padding:3rem 3rem;line-height:7.5rem;}
[data-dpr="3"].checkbox{width:4.5rem;height:4.5rem;margin:0.75rem 3rem 0.75rem 0;}

/*btn*/
.button{
    border:none;
    border-radius:0;
    -moz-border-radius: 0;/*firefox*/
    -webkit-border-radius: 0;/*Safari and Chrome*/
    -ms-border-radius: 0;/*IE*/
    -o-border-radius: 0;/*Opera*/
    height:6.25rem;width:100%;
    color:#fff;
    background-color:#46b0d5;
    font-family:"苹方 粗体", sans-serif;font-size:18px;line-height:6.25rem;text-align:center;
}
.register{text-align:center;font-size:14px;margin-top:1rem;}
.register a{color:#46b0d5;}
[data-dpr="2"].button{height:12.5rem;font-size:36px;line-height:12.5rem;}
[data-dpr="2"].register{font-size:28px;margin-top:2rem;}
[data-dpr="3"].button{height:18.75rem;font-size:54px;line-height:18.75rem;}
[data-dpr="3"].register{font-size:42px;margin-top:3rem;}
